<% include partials/header %>
<% include partials/intro %>

<div class="showcase">
    <% if (projects.length === 0) { %>
      <h2>There are no projects!</h2>
      <% } else { %>
        <% projects.forEach(project => { %>
          <!-- <a href="/projects/<%= project._id %>" class='project'> -->
            <div class='project'>
              <a href="/projects/<%= project._id %>">
                <img src="<%= project.image %>" alt="peos">
              <p><%= project.title %></p>
              <% if (project.description.length > 120) { %>
                <p class='project__description'><small><%= project.description.slice(0, 117) + '...' %></small></p>
              <% } else {%>
                <p><small><%= project.description %></small></p>
              <% } %>
              </a>
              <% if (project.demo) { %>
                <a href="<%= project.demo %>" target='_blank'><i class='icon eye'></i></a>
              <% } %>
              <% if (project.github) { %>
                <a href="<%= project.github %>" target='_blank'><i class='icon github'></i></a>
              <% } %>
              
            </div>
          </a>
        <% }); %>
      <% } %>
</div>

<% include partials/footer %>