<% include ../partials/header %>

  <div class='preview'>
    <div class="preview__top">
      <img src="<%= project.image %>">
    </div>
    <div class="preview__bottom">
      <h1><%= project.title %></h1>
      <small><%= project.date.toDateString() %></small>
      <p class='project__description'><%= project.description %></p>
      <div class="preview__links">
        <% if (project.demo) { %>
          <p><i class='icon eye'></i>Website: <a href="<%= project.demo %>" target='_blank'><%= project.demo %></a></p>
        <% } %>
        <% if (project.github) { %>
          <p><i class='icon github'></i>Github: <a href="<%= project.github %>" target='_blank'><%= project.github %></a></p>
        <% } %>
      </div>
    </div>
    <div class='comments'>
      <h3>Comments (<%= project.comments.length %>)</h3>
      <% if (project.comments.length === 0) { %>
        <div>
          <h3 style='text-align: center; margin: 2rem 0'>No comments.</h3>
        </div>
      <% } else { %>
        <% project.comments.forEach(comment => { %>
          <div class="comment">
            <h3><%= comment.author.username %></h3>
            <small><%= comment.created.toDateString() %></small>
            <p><%= comment.text %></p>
          </div>
        <% }) %>
      <% } %>
    </div>
    <form action="/projects/<%= project._id %>/comments/new" class='form__comments' method='POST'>
      <h4>Add a comment</h4>
      <textarea name='text' rows="3"></textarea>
      <input type="submit">
    </form>
  </div>

<% include ../partials/footer %>